/vendor
/node_modules
/.phpintel
/.idea
/.bundle
Homestead.yaml
Homestead.json
.env
_ide_helper.php
composer.lock
.DS_Store
*.map
/.phpcomplete_extended
/public/tmp
*.swp
public/img/ca.svg
public/img/cn.svg
public/img/us.svg
public/img/100x100.png
